<?php

return [
    'mysql' => [
        'dsn'       => '',
        'username'  => '',
        'password'  => ''
    ],
    'mongodb' => [
        'host'      => '',
        'dbname'    => ''
    ],
    'redis' => [
        'host' => '',
        'password' => ''
    ]
];